.setting {
    padding-left: 100px;
    padding-top: 20px;
    height: 100px;
}

.setting p {
    font-family: '宋体';
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 10px;
    text-indent: 4em;
}
input[type="checkbox"] { 
    transform: scale(2.0); 
} 
.form-check{
    margin-top: 50px;
    margin-left: 100px;
}
.form-check label{
    margin-left: 20px;
}
